* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 13px;
	background-color: rgb(243, 242, 242);
}

.main-app {
	margin: auto;
	//min-width: 100vw;
	max-width: 1000px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	button {
		cursor: pointer;
		padding: 5px 0;
		text-align: center;
		font-weight: bold;
		font-size: 1rem;
		background-color: white;
		border-radius: 8px;
		border: 0;
		&:hover {
			color: white;
			background-color: rgb(110, 73, 2);
		}
	}
	form {
		width: 98%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 15px;
		input,
		select {
			border-radius: 8px;
			border: 0;
			padding: 5px 2px;
		}
		> div {
			flex: 1 1 45%;
			min-width: 300px;
			background-color: rgb(245, 198, 110);
			padding: 10px;
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			gap: 5px;
			> div {
				display: grid;
				grid-template-columns: 50% 50%;
				align-items: center;
			}
			box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.192);
		}
		.done-reset-controls {
			display: grid;
			grid-template-columns: auto auto auto;
		}
	}
}
