* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 13px;
	background-color: rgb(243, 242, 242);
}

.main-app {
	padding: 10px;
	margin: auto;
	//min-width: 100vw;
	max-width: 1000px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	button {
		cursor: pointer;
		padding: 5px 0;
		text-align: center;
		font-weight: bold;
		font-size: 1rem;
		background-color: white;
		border-radius: 8px;
		border: 0;
		&:hover {
			color: white;
			background-color: rgb(110, 73, 2);
		}
	}
	form {
		width: 98%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 15px;
		input,
		select {
			border-radius: 8px;
			border: 0;
			padding: 5px 10px;
			cursor: pointer;
		}
		.button-container {
			display: flex !important;
			flex-direction: column !important;
			gap: 5px;
			overflow-y: auto;
			max-height: 50vh;
			transition: 1s;
		}
		> div {
			height: 100%;
			flex: 1 1 45%;
			min-width: 300px;
			background-color: rgb(245, 198, 110);
			padding: 10px;
			border-radius: 8px;
			display: flex;
			flex-direction: column;
			gap: 5px;
			> div {
				display: grid;
				grid-template-columns: 50% 50%;
				align-items: center;
			}

			.button-add-row {
				margin: 5px 0;
				border-radius: 8px;
				padding: 10px;
				background-color: rgba(128, 128, 128, 0.26);
				display: flex;
				flex-wrap: wrap;
				> div {
					margin: 5px 0;
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;
					border-bottom: 1px black dashed;
					padding-bottom: 10px;
					* {
						flex: 1 1 45%;
					}
				}
				flex-basis: 100%;
			}
			border: 1px gray solid;
		}
		.done-reset-controls {
			display: grid;
			grid-template-columns: auto auto auto;
		}
	}
}

.hide-btn-container {
	transition: 1s;
	max-height: 0 !important;
	overflow: hidden;
}

.output-command {
	min-width: 300px;
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 8px;
	> p:not(:first-child):not(:last-child) {
		margin-left: 10px;
	}
}
